:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  line-height: 1.5; 
  font-weight: 400;

  color: #fff;
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

#root {
  margin: 0 auto;
  background-color: #1e1e1e;
  max-width: 500px;
  min-width: 300px;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
}
